.env
.env.backup
.env.production

/vendor
/node_modules

/public/build
/public/hot
/public/storage

/storage/*.key
/storage/pail

npm-debug.log
yarn-error.log

/.phpunit.cache
.phpunit.result.cache

Homestead.json
Homestead.yaml

/.idea
/.vscode
/.fleet
/.nova
/.zed

auth.json
.phpactor.json
